 /* *********  global classes  ********* */

 * {
     scrollbar-width: none;
 }

 *::-webkit-scrollbar {
     display: none;
 }

 .colored {
     color: #03C988;
 }

 .hover:hover {
     background-color: #03C988;
 }

 .smooth {
     transition: 0.25s ease;
     transition-property: transform, left, margin;
 }

 /* *********  specific classes  ********* */
 .side-bar {
     width: 90px;
     height: 100%;
     position: fixed;
     top: 90px;
     left: -250px;
 }

 .side-bar.open {
     left: 0;
 }

 .side-bar-open {
     margin-left: 90px;
     /* Adjust margin to accommodate open sidebar width */
 }