 /* *********  global classes  ********* */

 * {
     scrollbar-width: none;
 }

 *::-webkit-scrollbar {
     display: none;
 }

 .smooth {
     transition: 0.25s ease;
     transition-property: transform, left, margin;
 }

 /* *********  specific classes  ********* */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

 .side-bar {
     width: 90px;
     height: 100%;
     position: fixed;
     top: 90px;
     left: -90px;
 }

 .side-bar.open {
     left: 0;
 }

 .side-bar-open {
     margin-left: 90px;
     /* Adjust margin to accommodate open sidebar width */
 }